$background:  white;

//text
$text-primary: black;
$text-secondary: #2762d7;
$text-thirdary: rgb(12, 12, 148);
$text-font-family: "Roboto", sans-serif;
$text-font-size-small: 16px;
$text-font-size-medium: 18px; 
$text-font-size-large: 24px;
$text-font-size-big: 28px;

$text-green: rgb(8, 175, 52);
$text-yellow: rgb(171, 112, 3);
$text-red: rgb(169, 4, 20);

//button    
$button-background: #2762d7;
$button-color: white;
$button-hover-background: #1b4aa8;
$button-border-padding: 8px 25px;
$button-font-weight: 500;
$button-font-size: 18px;
$button-border-radius: 7px;
$button-width: fit-content;

//form 
$form-background: #eff3fc;
$form-border-radius: 10px;
$form-border-padding: 20px;
$form-border-color: #d0d0d0;
$form-hover-color: #d2e0ff;
$form-green: rgb(204, 230, 212);
$form-yellow: rgb(236, 227, 209);
$form-red: rgb(255, 210, 214);